
<div class="content">
  <mat-card class="example-card sobre">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
    <mat-card-title>Sobre</mat-card-title>
    <mat-card-content>
      <p>Pequeno resumo</p>
      <p>Texto Longo</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    </mat-card-actions>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>

